<div class="container">
  <h1><%= @task.title %></h1>

  <%= link_to "Edit this task", edit_task_path %>
  <br>
  <%= @task.details %>

  <% if @task.completed == false%>
    <p>
      <%= icon('far', 'square') %>  This task isn't completed  yet
    </p>
  <% else %>
    <p><%= icon('far', 'check-square') %>  This task is completed</p>
  <% end %>

  <%= link_to "Back to list", tasks_path  %>
</div>
